@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Parisienne&display=swap');

/* General Styles */
body, h2, .card-title, .card-text, .btn {
    font-family: 'Cormorant Garamond', serif;
}

.form-border {
    border: 2px solid #000;
}

.form-border:focus {
    border: 2px solid #d51857;
    outline: 0;
}

.btn-border {
    border: 2px solid #d51857!important;
    background: transparent;
    color: #000;
}

.btn-border:hover {
    background: #d51857;
    color: #fff;
    letter-spacing: 1px;
}
