@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Parisienne&display=swap');
body {
    font-family: 'Cormorant Garamond', 'sans-serif';
    background-color:  #fafafa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* ------------- Header font */
.head-font {
    font-family: 'Parisienne', 'sans-serif';
}
/* ------------- Border */
.ls-border {
    border: 2px solid #D51857;
    padding: 30px 38px 35px;
}
/* -------------- Loveshop button */
.ls-btn {
    background: #D51857;
    color:  #fafafa;
    letter-spacing: 1px;
}
.ls-btn:hover,
.ls-btn:active {
    border: 2px solid #D51857!important;
    background: transparent;
    color: #000;
}
.link-hov:hover {
    color: #D51857;
}
/* ------------------ Banner animation */
.baner-anim {
    position: relative;
    height: 40px;
}
.baner-anim .anim {
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    animation: 6s autoplay infinite;
}
.baner-anim .anim:nth-child(1) {
    animation-delay: 0s;
}
.baner-anim .anim:nth-child(2) {
    animation-delay: 3s;
}
.pink-bg {
    background-color: #D51857;
}
.form-control:focus{
    border: 2px solid #D51857!important;
    outline: 0!important;
}
/* ------------------- Keyframes for banner animation */
@keyframes autoplay {
    0% {
        visibility: visible
    }
    50% {
        visibility: hidden
    }
  }
/* ----------------- Home Page animation */
.lottie {
    height: 500px;
}
/* ----------------- Footer */
.ls-colour {
    color: #D51857;
}
/* Login page form */
#id_username {
    border: 2px solid #000;
    border-radius: 0.375rem;
    padding: 0.5rem 0.5rem;
}
#id_username:focus {
    border: 2px solid #D51857;
    outline: 0;
}
#id_password {
    border: 2px solid #000;
    border-radius: 0.375rem;
    padding: 0.5rem 0.5rem;
}
#id_password:focus {
    border: 2px solid #D51857;
    outline: 0;
}
/* Error page */
.error-size {
    font-size: 60px;
}
.btn > span.align-items-center {
    font-size: 1.5rem;
}

/* Header Styles */
h2 {
    color: #D51857;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}
/* Shopping cart button */
.btn-border {
    border: 2px solid #D51857!important;
    background: transparent;
    color: #000;
}
.btn-border:hover {
    background: #D51857;
    color:  #fafafa;
    letter-spacing: 1px;
}
.ls-bg {
    background-color: #D51857;
}
/* Link and Icon Adjustment */
a {
    color: #D51857;
    text-decoration: none;
}
a:hover {
    color: #BB164D;
}
/* Card Styles */
.card {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* Pagination Styles */
.pagination .page-link {
    color: #D51857;
    transition: background-color .3s;
}
.pagination .page-link:hover {
    background-color: #D51857;
    color:  #fafafa;
}
.card-img-top {
    width: 100%;
    height: 325px;
    object-fit: cover;
}
.page-item {
    margin-right: 10px;
}
/* Responsive image grid */
@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }
}
.falling-heart {
    position: fixed;
    top: -50px;
    font-size: 24px; // Adjust the size as needed
    color: red;
    pointer-events: none;
    animation: fall linear forwards;
}
@keyframes fall {
    0% {
        top: -50px;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 100vh;
        opacity: 0;
    }
}
.carousel-caption .original-price {
    text-decoration: line-through;
    color: grey;
  }
  .carousel-caption .discounted-price {
    color: red;
    font-weight: bold;
  }
  /* New styles for out-of-stock products */
  .out-of-stock {
    opacity: 0.5;
  }
  .out-of-stock .add-to-cart {
    display: none;
  }
/* Adjust the size of the carousel to match the card layout */
@media (min-width: 768px) {
    .carousel-inner .carousel-item {
        flex: 0 0 33.333%; /* Show 3 items at a time for larger screens */
        max-width: 33.333%;
    }
}
/* Adjust carousel controls to be more visible */
.carousel-control-prev,
.carousel-control-next {
    filter: drop-shadow(0 0 2px #000); /* Shadow effect for better visibility */
}
/*  Rating heart */
.rating-div {
    font-size: 12px;
    display: flex;
}
.fa-stack {
    margin-right: -20px!important;
}
.success-message {
    color: green;
    margin-top: 10px;
    font-size: 0.9em;
}
.fa-stack-1x {
    line-height: normal!important;
}
.fa-stack:first-child {
    margin-left: -10px;
}

/* Cart and Items Responsiveness */
.responsive-cart .responsive-item {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f9f9f9; /* Light background for each item */
}

.item-quantity, .item-total {
    font-weight: bold;
}

.quantity-modify {
    margin: 0 5px; /* Spacing around quantity buttons */
}

/* Accessibility Improvements */
.quantity-modify:focus, .remove-from-cart:focus {
    outline: 2px solid #005aab; /* High contrast outline for better focus visibility */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .responsive-cart {
        padding: 0 1rem; /* Adjust padding for smaller screens */
    }

    .responsive-item {
        flex-direction: column; /* Stack items vertically on small screens */
    }
}

/* Border around each cart item */
.cart-item {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 4px; /* Optional: for rounded corners */
    background-color:  #fafafa; /* White background for contrast */
}

/* Improving quantity button visibility */
.update-cart {
    padding: .375rem .75rem; /* Increase padding for a larger hit area */
    margin: 0 5px; /* Spacing between quantity buttons and number */
    font-weight: bold; /* Making the '+' and '-' stand out */
}

/* Help text styling */
.help-text {
    font-size: 0.875rem;
    margin-top: 0.5rem;
    color: #666;
    display: block; /* or inline-block, depending on desired layout */
}

/* Additional information at the bottom of the cart */
.cart-additional-info {
    font-size: 0.875rem;
    color: #666;
    margin-top: 1rem; /* Space from the last item */
    padding-top: 0.5rem;
    border-top: 1px solid #ccc; /* Visual separation from items */
}

/* Styling for official details like tax and discounts */
.official-details {
    font-style: italic;
    color: #444;
}




/* Product Info Modal Styles */
.modal-content {
    background-color: #fdfdfd; /* Light background for the modal */
    border: 1px solid #D51857; /* Border color to match the theme */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); /* Shadow for depth */
}

.modal-header,
.modal-footer {
    border-bottom: 1px solid #D51857; /* Consistent border color */
    background-color: #f8f8f8; /* Slightly different background for header and footer */
}

.modal-title {
    color: #333; /* Darker text for better readability */
    font-size: 2rem; /* Slightly larger text for titles */
}

.modal-body {
    line-height: 1.5; /* More readable line-height */
    color: #555; /* Dark grey color for readability */
}

/* Close button specific style */
.btn-close {
    filter: invert(35%) sepia(25%) saturate(600%) hue-rotate(340deg) brightness(90%) contrast(88%);
}

/* Button styles in modal footer */
.modal-footer .btn {
    font-weight: bold; /* Make buttons text bold */
    margin: 0 5px; /* Spacing between buttons */
}

/* Ensuring visibility of buttons on focus for accessibility */
.modal-footer .btn:focus {
    box-shadow: 0 0 0 3px rgba(213, 24, 87, 0.5); /* Glow effect for focus */
}

/* Info button inside modal */
.modal-body .btn-info {
    border-color: #D51857; /* Consistent with theme */
    color: #D51857; /* Theme color for text */
}

.modal-body .btn-info:hover {
    background-color: #D51857; /* Theme color for hover background */
    color:  #fafafa; /* White text on hover */
}

/* If you use additional help text inside the modal */
.modal-body .help-text {
    padding-top: 0.5rem; /* Spacing above help text */
    font-size: 1.5rem; /* Smaller font size for secondary text */
    color: #666; /* Lighter text for help text */
}

/* Responsive adjustments for modal content */
@media (max-width: 768px) {
    .modal-dialog {
        width: 90%; /* Make modal narrower on smaller screens */
        margin: 30px auto; /* Center modal with margin */
    }
}