{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link href="{% static 'checkout/css/style.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<div class="row">
  <div class="col-12 d-flex flex-column align-items-center">
    <h1 class="head-font my-3">Register</h1>
    <form method="post" class="my-3">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn ls-btn rounded text-uppercase my-3 p-2">Register</button>
    </form>
  </div>
</div>
{% endblock %}

