{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_title %} | ContactUs{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="col d-flex flex-column align-items-center mt-5">
        <h2 class="title-font text-black my-3 fst-italic">Contact Us</h2>
        <hr class="w-50 text-center mb-1">

    </div>
   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact m-3">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="info-item  d-flex flex-column justify-content-center align-items-center text-black ">
                        <i class="fas fa-map"></i>
                        <h3 class=" my-3 fst-italic">Our Address</h3>
                        <p>14 Love Avenue, 
                          Loveland, 
                          IE</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="info-item d-flex flex-column justify-content-center align-items-center text-black">
                        <i class="fas fa-envelope"></i>
                        <h3 class=" my-3 fst-italic">Email Us</h3>
                        <p>contact@loveshop.com</p>
                    </div>
                </div><!-- End Info Item -->

                <div class="col-lg-4 col-md-6">
                    <div class="info-item  d-flex flex-column justify-content-center align-items-center text-black">
                        <i class="fas fa-phone"></i>
                        <h3 class=" my-3 fst-italic">Call Us</h3>
                        <p>+353 0123456789</p>
                    </div>
                </div><!-- End Info Item -->

            </div>
        </div>
    </section>

<!-- Contact Form -->
<div class="container-fluid">
  <div class="col d-flex flex-column align-items-center mt-5">
      <h2 class="title-font text-black my-3 fst-italic">Get in touch</h2>
      <hr class="w-50 text-center mb-1">

  </div>
 
 
<section id="contact" class="contact m-3">
        <div class="card shadow  my-3 fst-italic ls-border text-black">
            <div class="card-body contact m-3">
                <form method="POST" action="{% url 'contact:contact_success' %}"enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="big-labels>
                      {{ form|crispy }}
                  </div>
                    <div class="text-center">
                        <button class="btn ls-btn rounded text-uppercase my-3 p-3" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- FAQ's -->
<div class="container-fluid">
  <div class="col d-flex flex-column align-items-center mt-5">
      <h2 class="title-font text-black my-3 fst-italic">FAQ's</h2>
      <hr class="w-50 text-center mb-1">

  </div>
<section id="contact" class="contact m-3 ">
    <div id="accordion" class="col d-flex flex-column">
        <div class="card col my-2 ls-border align-items-center text-black fst-italic">
          <div class="card-header text-black " id="headingOne">
            <h5 class="mb-0">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1">
                <h4> How can I track my parcel? </h4>
              </button>
            </h5>
          </div>
      
          <div class="collapse" id="multiCollapseExample1" data-bs-parent="#accordion" >
            <div class="card-body">
              Once your order has been dispatched, we'll send you an email with a tracking link. Alternatively, you can fill in the form on our tracking page and receive up to date tracking information.
            </div>
          </div>
        </div>
        
        <div class="card col my-2 ls-border align-items-center text-black fst-italic">
          <div class="card-header text-black" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                <h4> How long do returns take? </h4>
              </button>
            </h5>
          </div>
          <div class="collapse" id="multiCollapseExample2" data-bs-parent="#accordion">
            <div class="card-body">
              The returns process usually takes up to 7 working days from the date you sent the package to us processing the return - this can be a little longer during busy seasonal periods, such as Halloween and Christmas. You will get an email confirmation from us as soon as we process your return, which is typically within 5 working days of us receiving the return. Any refund that you are due will be automatically issued to your chosen payment method when you purchased the item and depending on your payment method issuer, this can take around 5 working days.
            </div>
          </div>
        </div>
        <div class="card col my-2 ls-border align-items-center text-black fst-italic">
          <div class="card-header text-black" id="headingTree">
            <h5 class="mb-0">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample3">
                <h4>How can I pay for my order?</h4>
              </button>
            </h5>
          </div>
          <div class="collapse" id="multiCollapseExample3" data-bs-parent="#accordion">
            <div class="card-body">
              You can pay for your items using Visa credit and debit cards, Mastercard, Maestro credit card or by using PayPal, Apple Pay, Google Pay or Klarna.
            </div>
          </div>
        </div>
        <div class="card col my-2 ls-border align-items-center text-black fst-italic">
          <div class="card-header text-black" id="headingTree">
            <h5 class="mb-0">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample4" aria-expanded="false" aria-controls="multiCollapseExample4">
                <h4>Wat are my shipping & deivery options?</h4>
              </button>
            </h5>
          </div>
          <div class="collapse" id="multiCollapseExample4" data-bs-parent="#accordion">
            <div class="card-body">
              We offer various shipping options. In some cases a third-party supplier may be managing our inventory and will be responsible for shipping your products.
            </div>
          </div>
        </div>
        <div class="card col my-2 ls-border align-items-center text-black fst-italic">
          <div class="card-header text-black" id="headingTree">
            <h5 class="mb-0">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample5" aria-expanded="false" aria-controls="multiCollapseExample5">
                <h4>Do you deliver internationally?</h4>
              </button>
            </h5>
          </div>
          <div class="collapse" id="multiCollapseExample5" data-bs-parent="#accordion">
            <div class="card-body">
              We do not offer international shipping.
            </div>
          </div>
        </div>
        <div class="card col my-2 ls-border align-items-center text-black fst-italic">
          <div class="card-header text-black" id="headingTree">
            <h5 class="mb-0">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample6" aria-expanded="false" aria-controls="multiCollapseExample6">
                <h4>Are there other shipping restrictions?</h4>
              </button>
            </h5>
          </div>
          <div class="collapse" id="multiCollapseExample6" data-bs-parent="#accordion">
            <div class="card-body">
              Orders only ship on business days, which are Monday - Friday.
            </div>
          </div>
        </div>
        <div class="card col my-2 ls-border align-items-center text-black fst-italic">
          <div class="card-header text-black" id="headingTree">
            <h5 class="mb-0">
              <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample7" aria-expanded="false" aria-controls="multiCollapseExample7">
                <h4>What happens if my order is delayed?</h4>
              </button>
            </h5>
          </div>
          <div class="collapse" id="multiCollapseExample7" data-bs-parent="#accordion">
            <div class="card-body">
              If delivery is delayed for any reason we will let you know as soon as possible and will advise you of a revised estimated date for delivery.
            </div>
          </div>
        </div>

</section>


{% endblock %}