@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Parisienne&display=swap');

body {
    font-family: 'Cormorant Garamond', 'sans-serif';
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ------------- Header font */

.head-font {
    font-family: 'Parisienne', 'sans-serif';
}

/* ------------- Border */
.ls-border {
    border: 2px solid #d51857;
    padding: 30px 38px 35px;
}

    /* Add your 3D effect CSS here */
    header {
        /* Create 3D effect for the header */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(-4px);
        transition: transform 0.3s ease-in-out;
      }
  
      header:hover {
        transform: translateY(0);
      }
  
      .navbar-nav .nav-link.active,
      .navbar-nav .nav-link:hover {
        border: 2px solid #f06;
        color: #000;
        border-radius: 4px;
        transition: background-color 0.3s;
      }
  
      /* Ensure the active class has a background color */
      .navbar .nav-link.active {
        border: 2px solid #f06;
        color: #000;
      }
  
      .navbar-nav .nav-link {
        /* Non-active page styles */
        display: flex;
        align-items: center;
        gap: 0.5rem;
        /* Adjust gap size as needed */
      }
  
      .navbar {
        padding: 0.5rem 1rem;
      }
  
      .navbar-brand svg {
        height: 40px;
        /* Adjust size as needed */
        margin-right: 0.5rem;
      }
  
      .navbar-nav .nav-link.active {
        border: 2px solid #f06;
        color: #000;
        border-radius: 4px;
      }
  
      .navbar-nav .nav-link {
        transition: color 0.3s, background-color 0.3s;
      }
  
      .navbar-nav .nav-link:hover {
        color: #000;
        border: 2px solid #f06;
      }
  
  
  
      /* Cart icon styles */

/* -------------- Loveshop button */
.ls-btn {
    background: #d51857;
    color: #fff;
    letter-spacing: 1px;
}

.ls-btn:hover,
.ls-btn:active {
    border: 2px solid #d51857!important;
    background: transparent;
    color: #000;
}

.link-hov:hover {
    color: #d51857;
}

/* ------------------ Banner animation */
.baner-anim {
    position: relative;
    height: 40px;
}


.baner-anim .anim {
    width: 100%;
    visibility: hidden;
    position: absolute;
    top: 0;
    animation: 6s autoplay infinite;
}


.baner-anim .anim:nth-child(1) {
    animation-delay: 0s;
}


.baner-anim .anim:nth-child(2) {
    animation-delay: 3s;
}

.pink-bg {
    background-color: #d51857;
}

.form-control:focus{
    border: 2px solid #D51857!important;
    outline: 0!important;
}


/* ------------------- Keyframes for banner animation */
@keyframes autoplay {
    0% {
        visibility: visible
    }
    50% {
        visibility: hidden
    }
  }

/* ----------------- Home Page animation */
.lottie {
    height: 500px;
}

/* ----------------- Footer */

.ls-colour {
    color: #d51857;
}


/* Login page form */

#id_username {
    border: 2px solid #000;
    border-radius: 0.375rem;
    padding: 0.5rem 0.5rem;

}

#id_username:focus {
    border: 2px solid #d51857;
    outline: 0;
}

#id_password {
    border: 2px solid #000;
    border-radius: 0.375rem;
    padding: 0.5rem 0.5rem;
}

#id_password:focus {
    border: 2px solid #d51857;
    outline: 0;
}



/* Error page */
.error-size {
    font-size: 60px;
}

.btn > span.align-items-center {
    font-size: 1.5rem; 

}